.logo{
    height: 100px;
    width: 100px;
}
.cabecera{
    display: inline-flex;
    width: 100%;
    
    height: 100%;
}
.botones{
    display: inline-block;
    width: 70%;
    margin-inline-start: 30%;
    height: 40px;
}
a.boton {
    
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    width: 120px;
    text-align: center;
    margin-top: 5%;
}
a.boton:hover{
    color: rgb(3, 207, 129);
    text-decoration-line: underline;
}
