<div class="footer">
    <div>
        <ul class="navegacion">
            <h3>Navegacion</h3>
            <a href="/" class="boton">Inicio</a>
            <a href="/Rooms" class="boton">Nuestros Cuartos</a>
            <a href="/Restaurants" class="boton">Restaurantes</a>
            <a href="/AboutUs" class="boton">Sobre Nosotros</a>
            <a href="/Blog"class="boton">Blog</a>
            <a href="/Contact" class="boton">Contáctanos</a>
    
        </ul>
    </div >
    <div class="extras">
        <h3>Servicios</h3>
            <a href="/Rooms" class="boton">Nuestros Cuartos</a>
            <a href="/Restaurants" class="boton">Restaurantes</a>

    </div>
    <div class="extras">
        <h3>Sobre Nosotros</h3>
        <a href="/AboutUs" class="boton">Sobre Nosotros</a>
        <a href="/Blog"class="boton">Blog</a>
        <a href="/Contact" class="boton">Contáctanos</a>

    </div>
    
   
    
    
</div>
