<div class="home">
    <div class="slogan">
        <h4>MAS QUE UN HOTEL... UNA EXPERIENCIA</h4>
        <h1>Hotel para toda la familia, todo el año</h1>
    </div>
    <div class="bienvenida">
        <h3>Bienvenido al hotel COCO</h3>
        <h2>¡No querrás irte jamás!</h2>
        <div class="attr">
            <div class="elemento">
                <img class="icono" src="assets/temp/servicio_amigable.png" alt="icono">
                <p>Servicio amigable</p>
            </div>
            <div class="elemento">
                <img class="icono" src="assets/temp/desayuno.png" alt="icono">
                <p>Desayuno</p>
            </div>
            <div class="elemento">
                <img class="icono" src="assets/temp/transporte.png" alt="icono">
                <p>Servicio de Transporte</p>
            </div>
            <div class="elemento">
                <img class="icono" src="assets/temp/spa.png" alt="icono">
                <p>Suits y Spa</p>
            </div>
            <div class="elemento">
                <img class="icono" src="assets/temp/cuartos.png" alt="icono">
                <p>Habitaciones acogedoras</p>
            </div>
        </div>
    </div>
    
    
</div>

